$primary-font: "Montserrat", "Arial", sans-serif;
$base-black-color: #333333;
$base-white-color: #ffffff;
$base-grey-color: #bdbdbd;
$light-grey-color: #e2e2e2;
$base-primaty-color: #7859cf;
$base-secondary-color: #f0ebff;
$primary-lighter-color: #9070ec;
$primary-darker-color: #593cac;

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
