.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 20px;
  background-color: $base-white-color;
}

.card__link {
  margin-bottom: 24px;
}

.card__link:hover {
  opacity: 0.8;
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
}

.card__description {
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
}

.card__buy-wrapper {
  display: flex;
  justify-content: space-between;
}

.card__price {
  font-weight: 600;
}

.card__button {
  position: relative;
  padding: 8px 20px 8px 46px;
  font-size: 14px;
  line-height: 20px;
}

.card__button::before {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  left: 15px;
  width: 20px;
  height: 16px;
  mask-image: url("../../icons/basket-icon.svg");
  mask-size: 20px 16px;
  mask-position: center;
  background-color: $base-white-color;
}

@media (min-width: $tablet-width) {
  .card {
    padding: 50px 30px 30px;
  }

  .card__link {
    margin-bottom: 30px;
  }

  .card__title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }

  .card__description {
    margin-bottom: 20px;
    width: 289px;
  }
}

@media (min-width: $desktop-width) {
  .card__description {
    width: 257px;
  }
}

