.country__title {
  padding: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.country__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.country__label {
  font-size: 16px;
  line-height: 24px;
}

.country__item:not(:last-child) {
  margin-bottom: 20px;
}
