.features__wrapper {
  width: 320px;
  margin: auto;
  padding: 50px 20px 60px;
  text-align: center;
}

.features__subtitle {
  margin-bottom: 4px;
}

.features__title {
  margin-bottom: 36px;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  width: 280px;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    width: 768px;
    padding: 60px 20px 80px;
  }

  .features__title {
    margin-bottom: 60px;
  }

  .features__list {
    flex-flow: row wrap;
    gap: 30px;
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .features__wrapper {
    width: 1440px;
    padding: 100px 40px 120px;
  }

  .features__title {
    margin-bottom: 83px;
  }

  .features__list {
    width: 1360px;
  }
}
