.feature__item {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 52px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: 52px 56px;
    transform: translateX(-50%);
  }

  &--speed::after {
    background-image: url("../../icons/speed-icon.svg");
  }

  &--fit::after {
    background-image: url("../../icons/fit-icon.svg");
  }

  &--energy::after {
    background-image: url("../../icons/energy-icon.svg");
  }

  &--ecology::after {
    background-image: url("../../icons/ecology-icon.svg");
  }
}

.feature__title {
  margin: 0;
  margin-bottom: 4px;
  padding-top: 66px;
  font-size: 18px;
}

.feature__description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .feature__item {
    margin-bottom: 20px;
    padding-left: 80px;
    width: 339px;
    text-align: left;

    &::after {
      top: 2px;
      left: 36px;
    }
  }

  .feature__title {
    padding: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }

  .feature__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .feature__item {
    margin: 0;
    padding: 0;
    width: 317px;
    text-align: center;

    &::after {
      top: -2px;
      left: 50%;
    }
  }

  .feature__title {
    padding-top: 72px;
  }
}
