.footer__wrapper {
  margin: auto;
  padding: 22px 0 30px;
  width: 320px;
}

.footer__logo {
  width: 82px;
  height: 36px;
}

.footer__logo:hover {
  opacity: 0.8;
}

.footer__social {
  border-bottom: 1px solid $base-secondary-color;
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__information {
  border-bottom: 1px solid $base-secondary-color;
}

.footer__media {
  border-bottom: 1px solid $base-secondary-color;
}

.footer__copyright {
  position: relative;
  display: block;
  padding-left: 55px;
  margin-top: 20px;
  font-size: 12px;
  line-height: 16px;
  color: $base-grey-color;
  text-decoration: none;
}

.footer__copyright::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 57px;
  width: 12px;
  height: 16px;
  mask-image: url("../../icons/html-icon.svg");
  background-color: $base-grey-color;
}

.footer__copyright:hover {
  color: $base-primaty-color;
}

.footer__copyright:active {
  color: $primary-darker-color;
}

.footer__copyright:hover::after {
  background-color: $base-primaty-color;
}
