.hero__slider {
  width: 320px;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .hero__slider {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .hero__slider {
    width: 1440px;
  }
}
