.information__wrapper {
  padding: 20px 20px 22px;

  &--contacts {
    padding-bottom: 16px;
  }
}

.information__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: $base-primaty-color;

  &--contacts {
    margin-bottom: 20px;
  }
}

.information__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.information__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $base-black-color;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: $primary-lighter-color;
  }

  &:active {
    color: $primary-darker-color;
  }
}

.information__address {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  padding-left: 19px;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 2px;
    left: 0;
    width: 13px;
    height: 16px;
    background-image: url("../../icons/address-icon.svg");
  }
}

.information__phone {
  position: relative;
  margin: 0;
  padding-left: 19px;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $base-black-color;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 13px;
    height: 16px;
    background-image: url("../../icons/phone-icon.svg");
  }

  &:hover,
  &:focus-visible {
    color: $primary-lighter-color;
  }

  &:active {
    color: $primary-darker-color;
  }
}

@media (min-width: $tablet-width) {
  .information__wrapper {
    padding: 0;
  }
}
