.range {
  &__title {
    margin-bottom: 21px;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    @media (min-width: $desktop-width) {
      margin-bottom: 23px;
    }
  }

  &__wrapper {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 1px;
  }

  &__slider {
    height: 3px;
    margin: 9px 10px 35px 7px;
    border: none;

    @media (min-width: $tablet-width) {
      margin-bottom: 31px;
      margin-right: 17px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 7px;
    }
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 280px;

    @media (min-width: $tablet-width) {
      width: 223px;
    }

    @media (min-width: $desktop-width) {
      width: 318px;
    }
  }

  &__input {
    padding: 8px 10px;
    width: 118px;
    height: 40px;
    font-family: inherit;
    font-size: 16px;
    background-color: $base-white-color;
    border: 2px solid $primary-lighter-color;
    border-radius: 4px;
    text-align: center;
    outline: none;

    @media (min-width: $tablet-width) {
      width: 88px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &:focus-visible {
      border: 2px solid $base-primaty-color;
    }

    &:disabled {
      color: $base-grey-color;
      border: 2px solid $light-grey-color;
    }
  }
}

.noui-connects {
  background-color: $light-grey-color;
}

.noui-connect {
  background-color: $primary-lighter-color;
  height: 4px;
}

.noui-horizontal .noui-handle {
  padding: 2px;
  width: 24px;
  height: 24px;
  top: -10px;
  background-color: $base-white-color;
  border: 2px solid $primary-lighter-color;
  border-radius: 50%;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.noui-horizontal .noui-handle::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: $base-white-color;
  border-radius: 50%;
  top: 10%;
  left: 10%;
}

.noui-horizontal .noui-handle::before {
  display: none;
}

.noui-handle:hover::after,
.noui-handle:focus-visible::after {
  background-color: $primary-lighter-color;
  outline: none;
}

.noui-handle:active::after {
  background-color: $base-primaty-color;
}
