.select__wrapper {
  position: relative;
}

.select__wrapper::after {
  content: "";
  position: absolute;
  display: block;
  top: 12px;
  right: 10px;
  width: 10px;
  height: 10px;
  background-image: url("../../icons/arrow-icon.svg");
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

.select__title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.select__control {
  padding-left: 10px;
  width: 155px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  appearance: none;
  color: $base-primaty-color;
  background-color: inherit;
  cursor: pointer;
  outline: none;
}

.select__control:hover,
.select__control:focus-visible {
  background-color: $base-secondary-color;
}

