.select__wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 12px;
    right: 7px;
    width: 10px;
    height: 10px;
    background-image: url("../../icons/arrow-icon.svg");
    background-repeat: no-repeat;
    transform: rotate(90deg);
  }
}

.select__title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.select__control {
  padding-left: 5px;
  width: 155px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  appearance: none;
  color: $base-primaty-color;
  background-color: inherit;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus-visible {
    background-color: $base-secondary-color;
  }
}

@media (min-width: $tablet-width) {
  .select__wrapper {
    &::after {
      right: 10px;
    }
  }

  .select__title {
    padding-right: 20px;
  }

  .select__control {
    padding: 0;
  }
}
