.slider {
  position: relative;
}

.slider__content-wrapper {
  display: none;
  padding: 20px 0 60px;
  background-color: #f3ebe1;
}

.slider__content-wrapper--active {
  display: block;
}

.slider__content-wrapper--lavender {
  background-color: #eae6fc;
}

.slider__content-wrapper--espresso {
  background-color: #e5e6e8;
}

.slider__img {
  position: relative;
  margin: auto;
  margin-bottom: 10px;
}

.slider__button {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

.slider__button:hover,
.slider__button:focus-visible {
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.slider__button:active {
  background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.slider__button:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.slider__button::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/stroke-icon.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  transform: translateY(-50%);
}

.slider-button-prev::after {
  transform: rotate(180deg) translateY(50%);
}

.slider-button-next {
  right: 0;
}

.slider-button-next:hover,
.slider-button-next:focus-visible {
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.slider-button-next:active {
  background: linear-gradient(270deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.slider__text-wrapper {
  margin: auto;
  max-width: 280px;
  text-align: center;
}

.slider .slider__subtitle {
  margin-bottom: 4px;
}

.slider__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 48px;
}

.slider__description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

.slider__buy {
  display: flex;
  align-items: center;
  margin: auto;
  width: 230px;
}

.slider__pagination {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .slider__content-wrapper--active,
  .slider__content-wrapper--active.slider__content-wrapper--lavender,
  .slider__content-wrapper--active.slider__content-wrapper--espresso {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding: 60px 0 0;
    background-color: $base-white-color;
    overflow: hidden;
  }

  .slider__content-wrapper::before,
  .slider__content-wrapper--lavender::before,
  .slider__content-wrapper--espresso::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 768px;
    height: 640px;
    background-color: #f3ebe1;
  }

  .slider__content-wrapper--lavender::before {
    background-color: #eae6fc;
  }

  .slider__content-wrapper--espresso::before {
    background-color: #e5e6e8;
  }

  .slider__button {
    width: 80px;
    height: 640px;
    background-color: #f3ebe1;
  }

  .slider__content-wrapper--lavender .slider__button {
    background-color: #eae6fc;
  }

  .slider__content-wrapper--espresso .slider__button {
    background-color: #e5e6e8;
  }

  .slider__button::after {
    left: 30px;
  }

  .slider__text-wrapper {
    max-width: 608px;
    margin-bottom: 20px;
    z-index: 1;
  }

  .slider__title {
    font-size: 58px;
    line-height: 80px;
    margin-bottom: 16px;
  }

  .slider__description {
    font-size: 20px;
    line-height: 32px;
  }

  .slider__img {
    margin: 0 auto;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .slider__content-wrapper--active,
  .slider__content-wrapper--active.slider__content-wrapper--lavender,
  .slider__content-wrapper--active.slider__content-wrapper--espresso {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px 0 0;
    background-color: #f3ebe1;
  }

  .slider__content-wrapper--active.slider__content-wrapper--lavender {
    background-color: #eae6fc;
  }

  .slider__content-wrapper--active.slider__content-wrapper--espresso {
    background-color: #e5e6e8;
  }

  .slider__content-wrapper--active::before,
  .slider__content-wrapper--active.slider__content-wrapper--lavender::before,
  .slider__content-wrapper--active.slider__content-wrapper--espresso::before {
    content: none;
  }

  .slider__img {
    margin-left: 105px;
    margin-bottom: 84px;
  }

  .slider__button {
    height: 100%;
  }

  .slider__text-wrapper {
    margin: 0;
    margin-bottom: 90px;
    text-align: left;
  }

  .slider__description {
    margin-bottom: 40px;
  }

  .slider__buy {
    margin: 0;
    margin-right: auto;
  }

  .slider__pagination {
    position: absolute;
    display: flex;
    gap: 8px;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
  }

  .slider-pagination__link {
    display: block;
    width: 62px;
    height: 4px;
    background-color: $base-white-color;
  }

  .slider-pagination__link--active {
    background-color: $base-primaty-color;
  }
}
