.slider {
  position: relative;
}

.slider__img {
  margin: auto;
}

.slider__button {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

.slider__button:hover,
.slider__button:focus-visible {
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.slider__button:active {
  background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.slider__button::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/stroke-icon.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  transform: translateY(-50%);
}

.slider-button-prev::after {
  transform: rotate(180deg) translateY(50%);
}

.slider-button-next {
  right: 0;
}

.slider-button-next:hover,
.slider-button-next:focus-visible {
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.slider-button-next:active {
  background: linear-gradient(270deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.slider__text-wrapper {
  margin: auto;
  max-width: 280px;
  text-align: center;
}

.slider__subtitle {
  margin-bottom: 4px;
}

.slider__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 48px;
}

.slider__description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

.slider__buy {
  display: flex;
  align-items: center;
  margin: auto;
  width: 230px;
}

.slider__pagination {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
